nav {
    font-size: 16px;
    background-color: aliceblue;
    font-family: sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /*justify-content: space-around;*/
}

nav ul li {
    cursor: pointer;
    padding: 8px;
    flex: auto;
    text-align: center;
}

nav ul li:hover {
    background-color: dimgrey;
    color: white;
}


/* CSS for contact page */

form {
    padding-left: 1em;
    padding-right: 1rem;
}

form div span.formText {
    display: inline-block;
    width: 100px; 
    padding-bottom: 10px;

}

form div textarea {
    width:100%;
    height: 5rem;
    
    
    
}

/* End for CSS for contact page */

.carousel {
  height: auto;
  width: auto;
  margin: auto;
  max-width: 800px;

  align-content: center;
}

/*

.carousel-item img {
    height: 60vh;
    object-fit: cover;
}

*/

@media all and (max-width: 800px){
    nav ul {flex-direction: column;}
    nav ul li {text-align: center;}
}